{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Moje konto{% endblock %}

{% block body %}
    <div class="container p-5 main">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Moje konto</h1>

        {% form_theme basicUserDataForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(basicUserDataForm) }}
            {{ form_row(basicUserDataForm.name) }}
            {{ form_row(basicUserDataForm.profile_picture, {
                'attr': {
                    'class': 'text-dark w-100'
                }
            }) }}
            <img src="{{ asset('images/'~app.user.profilePicture) }}" id="avatar" class="mw-100 mt-3" height="200">
            {{ form_row(basicUserDataForm.date_of_birth) }}
            {{ form_row(basicUserDataForm.gender) }}
            {{ form_row(basicUserDataForm.email) }}
            {{ email_error }}
            {{ form_row(basicUserDataForm.active_login_form) }}

            {% for key in agr|keys %}
                <div class="my-1">
                    {% set regLink %}{{ agr[key]['content'] }}">{{ agr[key]['name'] }}{% endset %}
                    {{ form_row(basicUserDataForm[key], {
                        'label': regLink,
                        'label_attr': {'class': 'regLink invisible'},
                        'attr': {'class': 'bg-dark'}
                    }) }}
                </div>
            {% endfor %}

            <button type="submit" class="button">Zapisz</button>
        {{ form_end(basicUserDataForm) }}

        <br><br>

        {% form_theme resetForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}

            <button class="button">Zapisz</button>
        {{ form_end(resetForm) }}

        <br><br>

        <a href="/my_account?deleteAccount" class="text-white">Usuń konto</a>
    </div>

{% endblock %}