{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Moje konto{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="container p-5 main">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Moje konto</h1>

        <img src="images/{{ profile_picture }}" />

        {% form_theme basicUserDataForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(basicUserDataForm) }}
            {{ form_row(basicUserDataForm.name) }}
            {{ form_row(basicUserDataForm.profile_picture) }}
            {{ form_row(basicUserDataForm.date_of_birth) }}
            {{ form_row(basicUserDataForm.gender) }}
            {{ form_row(basicUserDataForm.email) }}
            {{ email_error }}
            {{ form_row(basicUserDataForm.active_login_form) }}

            {% for key in agr|keys %}
                <div class="row">
                    <div class="col">
                        {{ form_row(basicUserDataForm[key]) }}
                    </div>
                    <div class="col">
                        <a href="agreement/{{ agr[key]['content'] }}">{{ agr[key]['name'] }}</a>
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
        {{ form_end(basicUserDataForm) }}

        <br><br>

        {% form_theme resetForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}

            <button class="btn btn-primary mt-3">Zapisz</button>
        {{ form_end(resetForm) }}

        <br><br>

        <a href="/my_account?deleteAccount">Usuń konto</a>
    </div>

{% endblock %}
