{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Logowanie{% endblock %}

{% block body %}
    <div class="container p-5 main">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}

            <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Logowanie</h1>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Hasło</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" class="form-check-input bg-dark"> Zapamiętaj mnie
                </label>
            </div>
           
            <button class="{#btn btn-primary mt-3#} button" type="submit">
                Zaloguj się
            </button>
        </form>

        <a href="{{ path('app_forgot_password_request') }}" class="text-white">Nie pamiętam hasła</a>
    </div>
{% endblock %}