{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rejestracja{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container p-5 main">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Rejestracja</h1>

        {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            
            {% for key in agr|keys %}
{#                <div class="my-1 formInlineContainer">#}
{#                    <div>#}
{#                        {{ form_row(registrationForm[key], {#}
{#                        }) }}#}
{#                    </div>#}
{#                    <div>#}
{#                        <label for="{{ registrationForm[key].vars.id }}"><a href="agreement/{{ agr[key]['content'] }}" class="text-white">{{ agr[key]['name'] }}</a></label>#}
{#                    </div>#}
{#                </div>#}

                <div class="my-1">
                    {% set regLink %}{{ agr[key]['content'] }}">{{ agr[key]['name'] }}{% endset %}
                    {{ form_row(registrationForm[key], {
                        'label': regLink,
                        'label_attr': {'class': 'regLink invisible'},
                        'attr': {'class': 'bg-dark'}
                    }) }}
                </div>
            {% endfor %}

            <button type="submit" class="{#btn btn-primary mt-3#} button">Zarejestruj się</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
{#
<div class="row">
    <div class="col">
        {{ form_row(registrationForm[key]) }}
    </div>
    <div class="col">
        <a href="agreement/{{ agr[key]['content'] }}" class="text-white">{{ agr[key]['name'] }}</a>
    </div>
</div>
#}
