{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tworzenie pokoju{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="container p-5 main">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Stwórz pokój</h1>

        {% form_theme newRoom 'bootstrap_4_layout.html.twig' %}
        {{ form_start(newRoom) }}
            {{ form_row(newRoom.name) }}

            <div class="row">
                <div class=" col-sm-6">
                    {{ form_row(newRoom.logo_filename, {
                        'attr': {
                            'class': 'text-dark w-100'
                        },
                        'label_attr' : {'class' : 'mt-sm-4'}
                    }) }}
                </div>
                <div class="col-sm-6">
                    <img src="" class="rounded-circle avatar" height="200">
                </div>
            </div>

            <button type="submit" class="button">Stwórz</button>
        {{ form_end(newRoom) }}

    </div>

{% endblock %}
