{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tworzenie pokoju{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="container p-5 main">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Stwórz pokój</h1>

        {% form_theme newRoom 'bootstrap_4_layout.html.twig' %}
        {{ form_start(newRoom) }}
            {{ form_row(newRoom.name) }}
            {{ form_row(newRoom.logo_filename) }}

            <button type="submit" class="btn btn-primary mt-3">Stwórz</button>
        {{ form_end(newRoom) }}

    </div>

{% endblock %}
