{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Moje pytania{% endblock %}

{% block body %}
    <div class="container p-5 main">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Moje pytania</h1>

        <br><div>Dodano: {{ numberOfQuestions }} pytań</div><br>

        <table style="width:100%">
            <tr>
                <th>Lp.</th>
                <th>Treść</th>
                <th>Data dodania</th>
                <th>Akcje</th>
            </tr>

            <tr style="border-top: 2px solid white;">
                <td></td>
                <td style="font-weight: bold;">Życiowe tematy - pytania ogólne</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {% if available.OT %}
                    {% for question in questions.OT %}
                        <tr>
                            <td>{{ question.counter }}.</td>
                            <td>{{ question.content }}</td>
                            <td>{{ question.date_added }}</td>
                            <td><a href="/my_question?deleteQuestion={{ question.id }}">Usuń</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>

            <tr style="border-top: 2px solid white;">
                <td></td>
                <td style="font-weight: bold;">Jazda bez trzymanki - najbardziej niezręczne pytania</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {% if available.JBT %}
                    {% for question in questions.JBT %}
                        <tr>
                            <td>{{ question.counter }}.</td>
                            <td>{{ question.content }}</td>
                            <td>{{ question.date_added }}</td>
                            <td><a href="/my_question?deleteQuestion={{ question.id }}">Usuń</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>

            <tr style="border-top: 2px solid white;">
                <td></td>
                <td style="font-weight: bold;">Mów mi więcej - słodzenie sobie</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {% if available.MMW %}
                    {% for question in questions.MMW %}
                        <tr>
                            <td>{{ question.counter }}.</td>
                            <td>{{ question.content }}</td>
                            <td>{{ question.date_added }}</td>
                            <td><a href="/my_question?deleteQuestion={{ question.id }}">Usuń</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>

            <tr style="border-top: 2px solid white;">
                <td></td>
                <td style="font-weight: bold;">18+ - kontekst erotyczny</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {% if available.18 %}
                    {% for question in questions.18 %}
                        <tr>
                            <td>{{ question.counter }}.</td>
                            <td>{{ question.content }}</td>
                            <td>{{ question.date_added }}</td>
                            <td><a href="/my_question?deleteQuestion={{ question.id }}">Usuń</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>

    </div>

{% endblock %}