{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - pokój{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="container p-5 main">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Pokój</h1>
        <p>Lista osób w pokoju:</p>
        <div id="userList">
            {% for player in players %}
                <li>{{ player }}</li>
            {% endfor %}
        </div>

        <br>

        {% if isAdmin %}
            {% form_theme newRoomConnection 'bootstrap_4_layout.html.twig' %}
            {{ form_start(newRoomConnection) }}
                {{ form_row(newRoomConnection.code) }}

                <button type="submit" class="button">Dodaj</button>
            {{ form_end(newRoomConnection) }}
        {% endif %}

    <a href="/room?leaveRoom" class="text-white">Opuść pokój</a>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/getUserList.js') }}"></script>
{% endblock %}
