{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - gra{% endblock %}

{% block body %}
    
    <div class="container p-5 main">
    
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-5 mb-3 text-center h3 font-weight-normal">Pokój</h1>

        <div> {{ round }}. {{ question }} </div>

        {% if type == 'form' %}
            {% if confirm == false %}
                {% form_theme answer 'bootstrap_4_layout.html.twig' %}
                {{ form_start(answer) }}
                    {{ form_row(answer.answer) }}

                    <button type="submit" class="button">Odpowiedz</button>
                {{ form_end(answer) }}
            {% else %}
                <br><div>Odpowiedź już została przez Ciebie udzielona</div>
            {% endif %}
        {% elseif type == 'result' %}
            {% if sum > 0 %}
                <br><ol>
                    {% for t in table|sort((a, b) => a.1 <=> b.1)|reverse %}
                        <li> {{ t.0 }} - {{ t.1 }} głosy ({{(t.1 / sum * 100)|round(2)}}%) </li>
                    {% endfor %}
                </ol>
            {% endif %}
        {% endif %}

        <br><div id="usersNumber">{{ usersNumber }}</div>

        <br>
        <a href="/room?leaveRoom" class="text-center text-white icon-wrapper">
            <img src="{{ asset('assets/img/leaveRoom.png') }}" class="icon"><br />
            Opuść pokój
        </a>
        {% if isAdmin %}
            {% if round > 1 %}
                <a href="/game?previousRound" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/previousRound.png') }}" class="icon"><br />
                    Poprzednia runda
                </a>
            {% endif %}

            {% if type == 'form' %}
                <a href="/game?showResult" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/showResult.png') }}" class="icon"><br />
                    Wyświetl wyniki
                </a>
            {% elseif type == 'result' %}
                <a href="/game?showGame" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/showGame.png') }}" class="icon"><br />
                    Wyświetl formularz
                </a>
            {% endif %}

            {% if round < allRound %}
                <a href="/game?nextRound" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/nextRound.png') }}" class="icon"><br />
                    Następna runda
                </a>
                <a href="/game?theEnd" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/theEnd.png') }}" class="icon"><br />
                    Zakończ
                </a>
            {% else %}
                <a href="/game?nextRound" class="text-center text-white icon-wrapper">
                    <img src="{{ asset('assets/img/theEnd.png') }}" class="icon"><br />
                    Zakończ
                </a>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gameAjax.js') }}"></script>
    <script src="{{ asset('assets/js/usersNumber.js') }}"></script>
{% endblock %}