<!DOCTYPE html>
<!--
            Authors:
Oskar Zborowski - Backend Developer
Wojciech Mila - Frontend Developer
-->
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="author" content="Oskar Zborowski, Wojciech Mila">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut icon" href="{{ asset('assets/img/top-hat.png') }}">
    <title>{% block title %}Kapelusznik{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-xl navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">
                <img src="{{ asset('assets/img/hatIcon.png') }}">
                <span class="{% if app.user %}d-none{% endif %} d-md-inline">Kapelusznik</span>
            </a>

            {% if app.user %}
                <div class="mx-sm-5">
                    <img src="{{ asset('images/'~app.user.profilePicture) }}" height="70" class="rounded-circle">
                    <span class="mx-1">{{ app.user.name }}</span>
                </div>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('new_room') }}">Stwórz pokój</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('room') }}">Mój pokój</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('my_question') }}">Moje pytania</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('new_question') }}">Dodaj pytania</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('my_account') }}">Moje konto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}">Zaloguj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" href="{{ path('app_register') }}">Zarejestruj się</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="">

    </footer>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/ajax.js') }}"></script>
        <script src="{{ asset('assets/js/exit.js') }}"></script>
        <script src="{{ asset('assets/js/regLinkCreator.js') }}"></script>
        <script src="{{ asset('assets/js/pictureUpdater.js') }}"></script>
    {% endblock %}
</body>
</html>